<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SomerenLogic.Properties.Settings.pdb1920f6ConnectionString"
            connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=pdb1920f6;Persist Security Info=True;User ID=pdb1920f6;Password=Lc9e~P-O3L2d"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>